<h1>Все блюда</h1>
<h3>@Model.currCategory</h3>    @*для передачи данных внутрь html шаблона*@
@{
    foreach (var bludo in Model.allBludos)  //Model - глобальный объект
    {
        <div>
        <h2>Название: @bludo.name</h2>
        <p>Цена: @bludo.price.ToString("c")</p> 
        </div>
    }
}
