@model HomeViewModel

<h1>ТОП блюд</h1>
<div class="row mt-5 mb-2">
    @{
        foreach (Bludo bludo in Model.favBludos){  //Model - глобальный объект
            @Html.Partial("AllBludos", bludo)
        }
    }
</div>